gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java
/app/local.properties
/app/gradlew.bat
/app/gradle/wrapper/gradle-wrapper.properties
/app/gradlew
